<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI_MP3Player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E7A0FBD1BC225D1005FF71B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E7A0FD61BC225D1005FF71B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E7A0FE11BC225D1005FF71B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
